<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        * { 
            box-sizing: border-box; 
        }

		@media (max-width: 768px) {
        .flex-container {
            direction: ltr;
            flex-direction: row;
            background-color: #F5F5F5;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
        }

        .flex-container div { 
            flex-basis: 100px;
            background-color: #808080;
            text-align: center;
            margin: 10px;
            padding: 20px;
            border-radius: 12px;
            color: white;
            font-size: 18px;
            transition: background-color 0.3s ease;
        }
	}	
    </style>
</head>
<body>
    <div class="flex-container">
        <div><a href="https://google.com">Home</a></div>
        <div><a href="https://google.com">About</a></div>
        <div><a href="https://google.com">Products</a></div>
    </div>
</body>
</html>

