 <!-- ======= About Section ======= --> 
 <section id="about" class="about"> 
 <div class="container" data-aos="fade-up"> 
 <div class="section-title"> 
 <h2>Tomeu A. Martinez</h2> 
 <p>Es un artista comprometido con la música, especialmente en el campo de   la música contemporánea, en el cual debutó con 20 años entrando a formar   parte del Proyecto Musical.  
 <br/><br/> 
 Ha estrenado obras de compositores españoles con los que ha trabajado en   estrecha colaboración y ha sido dirigido por maestros.   </p> 
 </div> 
 <div class="row"> 
 <div class="col-lg-4"> 
 <img src="assets/img/profile-img.jpg" class="img-fluid" alt="">  </div> 
 <div class="col-lg-8 pt-4 pt-lg-0 content"> 
 <h3>Pianista.</h3> 
 <p class="fst-italic"> 
 Lorem ipsum dolor sit amet, consectetur adipiscing elit,   sed do eiusmod tempor incididunt ut labore et dolore   magna aliqua.  
 </p> 
  
 <p> 
 <br/><br/> 
 "Grade myst" un cd de música  
 contemporánea española para piano  
 </p> 
 </div> 
 </div> 
 </div> 
 </section><!-- End About Section --> 