<!-- ======= Footer ======= --> 
<footer id="footer"> 
 <div class="container"> 
 <h3>Información de empressa</h3> 
 <p>teléfono: 666999.</p> 
 <div class="social-links"> 
 <a href="http://www.facebook.es" class="facebook">facebook</a>  <a href="http://www.instagram.com">Instagram</a> 
 <a href="http://www.youtube.com">Youtube</a> 
 </div> 
 <div class="copyright"> 
 &copy; Copyright <strong><span>Design</span></strong>. All Rights Reserved   </div> 
 </div> 
</footer><!-- End Footer --> 
